/.settings
/.buildpath
.DS_Store
/nbproject/private/
/nbproject
.metadata/
.directory
/local
/build-archive-temp.tar
/files/thumbs
/config-local.json
/.idea
*.iml
/node_modules
/env.sh
/my.cnf

tests/.env
tests/node_modules/*
tests/playwright-report/*
tests/test-results/*

/.claude
.claude
.claude/
/.claude/
tsconfig.tsbuildinfo

test-results
.env
/logs/